@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
.LayoutGrid {
    display: grid;
    grid-template:
        "header header"
        "aside ." /.14fr 1fr;

    grid-template-rows: .1fr 1fr;

    &Cabecalho {    
        position: relative;
        z-index: 20;
        grid-area: header;
       
        box-shadow: 0 6px 10px #00000055;
        display: flex;
        justify-content: space-around;

        &Margem {
            display: flex;
            justify-content: space-between;
            align-items: center;

            nav {
                align-items: center;

                
                box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 10px;

                display: flex;
                
                gap: 8px;

                justify-content: space-around;

                height: 65px;
                width: 386px;
            }
            .Title{
                font-family: 'Rock Salt', cursive;
            }
            width: 75%;
        }

        padding: 1em 0;
        width: 100%;
    }

    &SideBar {
        display: flex;
        flex-direction: column;
        align-items: end;
        grid-area: aside;
        background: var(--LightModeTerciario);

        nav {
            background: var(--LightModeSecondary);
            text-align: center;
            border-radius: 10px 0px 0px 10px;
            width: 50%;
            height: 80%;
        }

        height: 100vh;
    }

    height: 100vh;
}