:root{
    //LightMode
    --LightModePrimary:#2B9AB5;
    --LightModeSecondary:#22798F;
    --LightModeTerciario:#195969;
    --LightModeQuarternario:#288DA6;
    
    --white:#fff;
    --black:#000;

    //darkMode
    --DarkModePrimary:#8330C7;
    --DarkModeSecondary:#772BB5;
    --DarkModeTerciario:#401761;
}